<div class="top">
<button *ngFor="let ch of top" [ngClass]="{guessed: class_of(ch)}" class="char" (click)="guess(ch)">
{{ch}}

</button>
</div>



<div class="middle">
<button *ngFor="let ch of middle" [ngClass]="{guessed: class_of(ch)}" class="char" (click)="guess(ch)">
{{ch}}

</button>

</div>


<div class="bottom">
<button *ngFor="let ch of bottom" [ngClass]="{guessed: class_of(ch)}" class="char" (click)="guess(ch)">
{{ch}}

</button>
</div>

<style type="text/css">
	.guessed{
	text-decoration: line-through;
	background-color: red;
	}
</style>